@{
    ViewData["Title"] = "Reportes";
}

<div class="row">
    <div class="card">
        <form asp-controller="ReporteCustomer" asp-action="GenerarReporte" method="post">
            <div class="card-header row">
                <h1 class="card-text col-md-12">Reporte de Cliente</h1>
            </div>
            <div class="table-responsive col-md-12">
                <div class="card-body row">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.ErrorMessage
                        </div>
                    }
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Nombre del proveedor</label>
                            <select name="ProveedorId" class="form-select" asp-items="ViewBag.ProveedoresId"></select>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Opcion</label>
                            <select class="form-control" name="Tipo">
                                <option value="NORMAL">Reporte</option>
                                <option value="DETALLADO">Reporte Detallado</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Tipo</label>
                            <select class="form-control" name="Opcion">
                                <option value="PDF">PDF</option>
                                <option value="EXCEL">EXCEL</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <input style="width:100%; margin-top:10px;" type="submit" value="Generar Reporte" class="btn btn-warning" />
                        </div>
                        <div class="form-group col-md-12">
                            <input style="width:100%; margin-top:10px;" type="submit" asp-action="GenerarTicketLimpio" value="Generar Ticket" class="btn btn-success" />
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}