@model NARAOURCEISG.Models.Customer

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="card">
        <form asp-controller="Reporte" asp-action="GenerarReporte" method="post">
            <div class="card-header row">
                <h1 class="card-text col-md-12">Reporte de Cliente</h1>
            </div>
            <div class="table-responsive col-md-12">
                <div class="card-body row">

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Nombre<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" name="fisrtName" />
                        </div>
                        <div class="form-group  col-md-4">
                            <label class="control-label">Apellido<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" name="lastName" />
                        </div>


                        <div class="form-group col-md-4">
                            <label class="control-label">Tipo</label>
                            <select class="form-control" name="Opcion">
                                <option value="PDF">PDF</option>
                                <option value="EXCEL">EXCEL</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <input style="width:100%; margin-top:10px;" type="submit" value="Generar Reporte" class="btn btn-warning" />
                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}