@model NARAOURCEISG.Models.Role

@{
    ViewData["Title"] = "Edit";
}

<div class="row" style="margin-top:100px;">
    <div class="col-md-12">
        <form asp-action="Edit" class="row card, col-md-12">
            <div class="card-header col-md-12">
                <h1 class="card-text">Editar Rol</h1>
            </div>
            <div class="card-body row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group col-md-6">
                    <label asp-for="Name" class="control-label">Nombre <span style="color:red;">*</span></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Description" class="control-label">Descripción <span style="color:red;">*</span></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <input style="margin-top:10px; width:100%;" type="submit" value="Editar" class="btn btn-primary" />
                </div>
                <div class="col-md-6">
                    <a class="btn btn-secondary" asp-action="Index" style="margin-top:10px; width:100%;">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
