@model NARAOURCEISG.Models.User

@{
    ViewData["Title"] = "Cambiar password";
}

<h1>Cambiar Password</h1>

<h4>Usuario</h4>
<hr />
 <form asp-action="ChangePassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="UserName"  class="control-label"></label>
            <input asp-for="UserName" class="form-control" readonly />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" readonly />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="ConfirmarPassword" class="control-label"></label>
            <input asp-for="ConfirmarPassword" class="form-control" />
            <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Password Anterior</label>
            <input type="password" name="passwordAnt" class="form-control" required />   
            <span class="text-danger">@ViewBag.Error</span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <input type="submit" value="Cambiar password" class="btn btn-primary" />
        </div>
    </div>
</form> 
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}